html,
body {
	margin: 0;
	padding: 0;
}

button,
input[type=checkbox],
input[type=image],
input[type=radio],
input[type=submit],
label {
	cursor: pointer
}

input,
textarea,
button {
	font: inherit;
}

strong {
	font-weight: 700
}

em {
	font-style: italic
}

.fList {
	list-style: none
}